.info-infocontact {
  text-align: left;
  padding: 60px;
  background-color: var(--clr-primary-3);
  color: var(--white);
}

.info-info-h2 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 50px;
}

.info-info-details-container {
  margin: 40px 0;
}

.info-info-detail {
  font-weight: 600;
  color: var(--white);
}

.info-info-icons-container {
  display: flex;
  width: 100%;
}

.info-info-icon {
  font-size: 3rem;
  margin-right: 20px;
  cursor: pointer;
}

@media screen and (min-width: 699px) {
  .info-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
  }

  .info-info-detail {
    line-height: 2;
  }
}
